div.react-components-show-button {
    position: relative;
}
div.react-components-show-button:hover img{
    opacity: 0.8;
}
div.react-components-show-button:hover button {
    display: block;
}
div.react-components-show-button:hover div {
    display: block;
}
div.react-components-show-button button.react-components-show-url {
    position: absolute;
    display: none;
    top: 2px;
    right: 2px;
}

div.react-components-show-button div.react-components-show-ticker {
    position: absolute;
    top: 30%;
    text-align: center;
}